<section class="search">
  <input type="text" name="search" placeholder="Search by Artist, Album or Track">
</section>
<section class="genres"></section>
<section class="artists"></section>
<section class="tracks"></section>
<section class="queue"></section>
