<h1>CYMK</h1>

<section class="status">
</section>

<div class="buttons">
  <button class="browse">Browse</button>
  <button class="queue">View Queue</button>
  <button class="history">Play History</button>
</div>
