<h1>Queue</h1>

<button class="back-home">Return Home</button>

<ol class="queue-list">
  {{#entries}}
  <li data-id="{{id}}">{{artist}} - {{name}} by {{requester}}</li>
  {{/entries}}
  {{^entries}}
  <li><h3>No Entries</h3></li>
  {{/entries}}
</ol>
