<button class="btn btn-default toggle">
  <i class="fa fa-2x fa-pause"></i>
  <i class="fa fa-2x fa-play"></i>
</button>
<button class="btn btn-default skip">
  <i class="fa fa-2x fa-forward"></i>
</button>
