<section class="playing">
  <span class="state"></span>
  <h3 class="track-title"></h3>
  <h4 class="artist-name"></h4>
  <div class="runtime">
    <span class="position"></span> / <span class="length"></span>
  </div>
  <div class="progress">
    <div class="progress-bar" style="width: 0%"></div>
  </div>
</section>
<section class="stopped">
  <p>Nothing is playing!</p>
</section>
