body {
  margin-bottom: 50px;
  font-size: 1.2em;
}
#status {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #eee;

  .runtime, .state {
    display: none;
  }
  .track-title, .artist-name {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
  .track-title {
    margin-left: 1em;
    font-size: 1.5em;

    &:after {
      content: 'by';
      padding-left: 1em;
      padding-right: 1em;
      font-weight: normal;
      font-size: 0.75em;
    }
  }
  .artist-name {
    margin-right: 1em;
  }
  .progress {
    height: 2px;
    width: 100%;
    background: #ccc;

    .progress-bar {
      width: 0%;
      height: 100%;
      background: #f00;
    }
  }
}
#admin {
  position: fixed;
  top: 0.5em;
  right: 0.5em;

  .btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;

    &:active {
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;

    &:hover, &:active, &:focus {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
  .btn-group {
    > .btn {
      position: relative;
      float: left;

      &:first-child {
        margin-left: 0;
      }
      &:first-child:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      &:not(:first-child):not(:last-child) {
        border-radius: 0;
      }
      &:last-child:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
#browse-page {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 2px 4px;
      background-color: #eee;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .search {
    padding: 0.5em;

    input {
      width: 100%;
      font-size: 1.2em;
      border: 1px solid black;
      border-radius: 0.5em;
      padding: 0.25em;
    }
  }
  .genres {
    float: left;
    background: #eee;
    width: 49%;
  }
  .artists {
    float: right;
    background: #eee;
    width: 49%;
  }
  .tracks {
    padding-top: 0.5em;
    clear: both;
  }
  .genres, .artists {
    height: 12.5em;
    overflow: scroll;
  }
  .queue {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #eee;
    font-weight: bold;
    padding: 0.5em;
  }
}
