body {
  margin-bottom: 50px;
  font-size: 1.2em;
}
.status-view {
  .progress {
    width: 100%;
    height: 5px;
    background: #ccc;

    .progress-bar {
      width: 0%;
      height: 100%;
      background: #f00;
    }
  }
}
#status {
  position: fixed;
  bottom: 0;
  left: 0;

  .status-view {
    background: #eee;

    .runtime, .state {
      display: none;
    }
    .track-title, .artist-name {
      display: inline-block;
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
    .track-title {
      margin-left: 1em;
      font-size: 1.5em;

      &:after {
        content: 'by';
        padding-left: 1em;
        padding-right: 1em;
        font-weight: normal;
        font-size: 0.75em;
      }
    }
    .artist-name {
      margin-right: 1em;
    }
    .progress {
      height: 2px;
    }
  }
}
#browse-page {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 2px 4px;
      background-color: #eee;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .search {
    padding: 0.5em;

    input {
      width: 100%;
      font-size: 1.2em;
      border: 1px solid black;
      border-radius: 0.5em;
      padding: 0.25em;
    }
  }
  .genres {
    float: left;
    background: #eee;
    width: 49%;
  }
  .artists {
    float: right;
    background: #eee;
    width: 49%;
  }
  .tracks {
    padding-top: 0.5em;
    clear: both;
  }
  .genres, .artists {
    height: 12.5em;
    overflow: scroll;
  }
  .queue {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #eee;
    font-weight: bold;
    padding: 0.5em;
  }
}
