/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  height: 100vh;
  overflow:hidden;
}

body {
  a {
    cursor: pointer;
  }
}

body.tim {
  background-color: #DD8888;
}

.full {
  width: 97.8%;
  margin: 0 auto;
}

#browse {
  .genres, .artists {
    float: left;
    width: 50%;
    margin-bottom: 0px;

    .panel {
      margin-bottom: 0px;
    }

    .panel-body {
      height: 40vh;
      padding: 0px;
      margin: 0px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .tracks {
    .panel-body {
      height: 50vh;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  span.reset {
    cursor: pointer;
  }
}
