/*
//      _/      _/    _/_/    _/_/_/  _/      _/
//     _/_/  _/_/  _/    _/    _/    _/_/    _/
//    _/  _/  _/  _/_/_/_/    _/    _/  _/  _/
//   _/      _/  _/    _/    _/    _/    _/_/
//  _/      _/  _/    _/  _/_/_/  _/      _/
*/

@import "mixins.scss";

html, body { 
  height: 100vh; overflow: hidden; color: #f7f7f7; background: #030303; -webkit-font-smoothing: antialiased;
  a { cursor: hand; cursor: pointer; }
}

body {
  a {
    cursor: pointer;
  }
}

.full {
  width: 97.8%;
  margin: 0 auto;
}

#browse {
  .genres, .artists {
    float: left;
    width: 50%;
    margin-bottom: 0px;

    .panel {
      margin-bottom: 0px;
    }

    .panel-body {
      height: 40vh;
      padding: 0px;
      margin: 0px;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }

  .tracks {
    .panel-body {
      height: 50vh;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
    }
  }
}
