/*
//      _/      _/  _/_/_/  _/      _/  _/_/_/  _/      _/    _/_/_/   
//     _/_/  _/_/    _/      _/  _/      _/    _/_/    _/  _/          
//    _/  _/  _/    _/        _/        _/    _/  _/  _/    _/_/       
//   _/      _/    _/      _/  _/      _/    _/    _/_/        _/      
//  _/      _/  _/_/_/  _/      _/  _/_/_/  _/      _/  _/_/_/        
*/

/* ==========================================================================
   Colors
   ========================================================================== */
   
$hoverbg: #35538f; 
$hovertxt: #fff; 
$hoverts: 0 1px 0 rgba(0,0,0,0.2);

$activebg: #314b7f; 
$activetxt: rgba(255,255,255,0.4); 
$activets: 0 -1px 0 rgba(0,0,0,0.4); 

$tdodd: #fff;
$tdeven: #e9e9e9;

/* ==========================================================================
   Font Stacks
   ========================================================================== */

$droid: DroidSans,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;
$droidb: DroidSans-Bold,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;  
$helvetica: Helvetica,Arial,Geneva,sans-serif;
$helvetican: "Helvetica Neue",Helvetica,Arial,Geneva,sans-serif; 
$futura: Futura,"Century Gothic",AppleGothic,sans-serif;
$futurab: Futura-Bold,"Century Gothic",AppleGothic,sans-serif;
$open: OpenSans-Regular,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;
$openb: OpenSans-Bold,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;
$openi: OpenSans-Italic,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;
$openbi: OpenSans-Semibold-Italic,Helvetica,Arial,"Lucida Grande",Verdana, sans-serif;

/* ==========================================================================
   Mixins
   ========================================================================== */

@mixin transition($e:all,$t:150ms,$f:linear) { -moz-transition: $e $t $f; -webkit-transition: $e $t $f; transition: $e $t $f; }
@mixin transition_remove() { -moz-transition: none; -webkit-transition: none; transition: none; }
@mixin hover() { background: $hoverbg; color: $hovertxt; text-shadow: $hoverts; }
@mixin active() { background: $activebg; color: $activetxt; text-shadow: $activets; }
@mixin cursor() { cursor: hand; cursor: pointer; &:hover, &:focus { cursor: hand; cursor: pointer; } }
@mixin gradient($c0,$c1,$c2,$d:repeat-x) { background-color: $c0; background-image: -moz-linear-gradient(top, $c1, $c2); background-image: -webkit-gradient(linear, 0 0, 0 100%, from($c1), to($c2)); background-image: -webkit-linear-gradient(top, $c1, $c2); background-image: -o-linear-gradient(top, $c1, $c2); background-image: linear-gradient(to bottom, $c1, $c2); background-repeat: $d; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$c1', endColorstr='$c2', GradientType=0); }
@mixin plain { margin: 0; padding: 0; list-style: none; }
@mixin sprite($w,$h,$l,$t) { display: block; background-position: $l $t; background-repeat: no-repeat; text-indent: -9999em; width: $w; height: $h; }
@mixin buttonize($h:32px) { display: inline-block; box-shadow: 0 0 1px rgba(0,0,0,0.3); border: 1px solid rgba(0,0,0,0.2); text-shadow: 0 1px 0 rgba(255,255,255,.65); height: $h;
	line-height: $h; &:active{ box-shadow: 0 1px 0 rgba(255,255,255,0.25), inset 0 10px 10px rgba(0,0,0,0.2); } }
@mixin buttonize_white($h:35px) { display: inline-block; box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px  rgba(0,0,0,0.5), inset 0 -10px 10px rgba(0,0,0,0.1); text-shadow: 0 1px 0 rgba(255,255,255,.65); height: $h; line-height: $h; &:hover { box-shadow: 0 1px 2px rgba(0,0,0,0.5) } &:active{ box-shadow: 0 1px 0 rgba(0,0,0,.2), inset 0 1px 0 rgba(255,255,255,0.3), inset 0 10px 10px rgba(0,0,0,0.3); text-shadow: 0 -1px 0 rgba(255,255,255,.5); } }	
@mixin boxize($b:1px,$s:5px) { background: $formbg; border-color: #dbdbdb; border-style: solid; border-width: $b; box-shadow: inset 0 1px 0 rgba(255,255,255,0.5) }

/* ==========================================================================
   Uniform Mixins
   ========================================================================== */

@mixin hideYetClickable() {
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	border: none;
	background: none;
}

@mixin inline-block() {
	display: -moz-inline-box;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

@mixin ellipsis() {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin box-shadow($def) {
	-webkit-box-shadow: $def;
	-moz-box-shadow: $def;
	box-shadow: $def;
}

/* ==========================================================================
   Dev Only!
   ========================================================================== */

.missing { background: #f2ff00 !important; color: #000 !important; }
/* CRAZY MODE
* { background: url('../../images/backgrounds/invoice-bg-test.png') left top repeat !important; -webkit-transition: all 500ms ease-in-out !important; }
*:hover { -webkit-transform: scale(1.05); }
*/