!!!
%html
  %head
    %title Round
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
  %body
    %nav#top-nav.navbar.navbar-fixed-top.navbar-default
      .navbar-header
        %a.navbar-brand{:href => "#"}
          %i#app-spinner.icon-usd
          Round
        %button.navbar-toggle.pull-right{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

      .collapse.navbar-collapse.topnav-main
        .navbar-text.hidden-xs#now-playing
        %ul.nav.navbar-nav
          %li#search-link
            %a Search for Music
          %li#queue-link
            %a See the Queue
        %a.navbar-btn
    #queue.hide
    #idle.hide
    #search.hide
